@import "variables";
@import "mixins";


.blogExpand {
  float: left;
  width: 25px;
  text-align: center;
  color: #36c;
  font-weight: bold;
}

.commentElementContainer {
  margin-bottom:20px;
  
  .commentSingle {
    background: #f5f5f5;
    padding: 10px;
    position: relative;
    
    .caret {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 0px solid transparent;
      border-top: 20px solid #f5f5f5;
      right: 10px;
      bottom: -16px;
    }
    
    .Time {
      font-weight: bold;
      margin-top: 5px;
    }
    
    
  }
  
  .commentName {
    text-align:right;
    margin-top: 16px;
  }
  
}


.photoThumbNail {
  width:150px;
  height:150px;
  margin-right:10px;
  margin-bottom:10px;
  border: 1px solid;
  float: left;  
  background-size: cover !important;
}

