@import "variables";
@import "mixins";


.BrandSingleElement {
  margin-bottom:10px;
  height: 160px;
  
  .brandImage {
    text-align:center;
    
    img {
      max-width:120px
    }
  }
  
  .bradType {
    text-align:center;
    font-weight:bold;
    font-size:14px;
  }
}


