@import "variables";
@import "mixins";

.msgBubbleDillonUser {
  background:#f7f7f7;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  position: relative;
  float:left;
  
  .bubbleArrow {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f7f7f7;
    position: absolute;
    bottom: -9px;
  }
  
}

.msgBubbleCustomer {
  background:green;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  position: relative;
  float:right;
  color:white;
  
  .bubbleArrow {
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid green; 
    position: absolute;
    bottom: -9px;
    right: 10px;
  }
  
}

.msgBubbleDillonUser, .msgBubbleCustomer {
  margin-bottom:10px;
  

}
.dateEntered {
  font-size:10px;
  clear: both;
   margin-bottom:10px;
}

.dateCustomer {
  text-align:right;
}

#TextMessageContent {
  border-bottom:1px solid #cecece;
  padding: 15px 10px 0px 0px;
  max-height:450px;
  overflow-y:auto;
  margin-bottom:10px;
  
  .row {
    margin:0px;
  }
  
  .dateHeader {
    font-weight:bold;
    position:relative;
    margin-bottom: 10px;
    
    .divider {
      border-bottom:1px solid #cecece;
      position: absolute;
      top: 11px;
      width: 100%;
    }
    
  }
  
}

.activeChat {
  background: #00c321;
  width: 10px;
  height: 10px;
  float: left;
  margin-top: 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  margin-right: 5px;
}

.closedChat {
  background: #c30000;
  width: 10px;
  height: 10px;
  float: left;
  margin-top: 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  margin-right: 5px;
}

.ConversationClosedIndicator {
  border: 1px solid #cecece;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  text-align: center;
  margin: 15px !important;  
}

