@import "variables";
@import "mixins";

.togglePieChartLink {
  background:#0098aa;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  
  &:hover {
    background: #017280;
  }
  
  .image {
    text-align:center;
    padding:10px 0px
  }
  
  .textLink {
    color:white;
    text-align:center;
    padding-bottom:10px;
  }
}

.PieChartContainer {
  margin-top:15px;
  background:#ececec;
  padding: 10px;
  
  .PieChartContent {
    width:350px;
    margin:20px auto;
  }
  
  .pieChartHeader {
    font-weight:bold;
    font-size:20px
  }
}

.StoreEmailList {
  height: 220px;
  overflow-x: auto;
  padding: 10px;
}

.EmailTypeHeader {
  font-size:20px;
  font-weight:bold;
}

.emailDetailsTable {
  td {
    &:first-child {
      width:140px;
    }
  }
}

.emailSection {
  margin-bottom:10px;
}

.fileSingleElement {
  border:1px dashed #337ab7;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 9px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

