@import "variables";
@import "mixins";

.EmployeeName {
  margin-top:10px; text-align:center; font-size:20px;
}

.jobTitle {
 margin-top:0px; text-align:center; 
}

.deleteButton {
  display:table; margin:10px auto 0 auto; width:auto;
}
