@import "variables";
@import "mixins";





.GrayBox {
  background: #f9f9f9;
  text-align:center;
  padding:10px 0px;
  font-size: 20px;
  margin-bottom: 30px;
  
  .icon {
    margin-bottom:10px;
    text-align:center;
  }
  
  .thumbnailContainer {
    position:absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    background-size: cover !important;
    
   
  } 
  
  &:hover .photoOverlay {
    display:block      
  }
}

.photoContainer {
  background: #f9f9f9;
  padding:3px 0px; 
  text-align:center;
  margin-bottom:10px;
  
  img {
    max-width: 560px;
  }
}

.uploadedInfo {
  border-bottom:1px solid #f9f9f9;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.photoOverlay {
  position:absolute;
  left:5px;
  right:5px;
  bottom:5px;
  background: rgba(0, 0, 0, 0.5);
  display:none;
  z-index:1;
  padding: 10px 0px;
  
  .view {
    float:left;
    width:50%; 
    color:white;
    
    i {
      display: block;
    }
  }
  
  .delete {
    float:left;
    width:50%; 
    color:white;
    
    i {
      display: block;
    }
  }
}


.buttonContainer {
  margin-bottom:15px;
}

.AddFolder {
  margin:0px 0px 10px 0px;
}

.visibilitySwitch {
  .switch {
    position: relative;
    display: block !important;
    width: 42px;
    height: 16px;
    margin: 0 auto !important;
    
    input {
      display: none;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      
      &:before {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
    }
    
    .slider.round {
        border-radius: 34px;
        
        &:before {
            border-radius: 50%;
        }
        
    }
    
    
    
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  
}


.UploadPhotosSubmit {
  position: fixed;
  bottom: 0px;
  background: white;
  left: 0px;
  @include box-shadow(0px -2px 8px #d4d4d4);
  display:none;
  padding: 15px;
  z-index: 9;
    
  #uploadingPhotosText {
    display:none;
  }
}

.PageBuilderContent {
  
  .AddRow {
    border: 1px dashed black;
    text-align: center;
    font-size: 20px;
    color: #ababab;
    padding: 10px 0px;
    @include border-radius(5px);
    
    &:hover {
      background: #f7f7f7;
    }
    
  }
  
  #LayoutContent {
    
    .ContentRow {
      position:relative;
      margin-bottom: 30px;
      
      &:hover .ResizeColumnLine {
        display:block
      }
      
      .DragAdd {
        background: white;
        padding: 8px;
        z-index: 1;
        border: 1px solid #ccc;
        float:left;
        
        .rowButton {
          float:left;
          padding: 0px 7px;
        }
        
      }
      
    }
    
    .row {
      min-height: 110px;
      background: #636363;
      @include border-radius(5px);
      margin-bottom: 5px;
      margin-left: 0px;
      margin-right: 0px;
      
      .ColumnElement {
        border: 1px dashed #636363;
        background: #ececec;
        overflow:hidden;
        position:relative;
        min-height: 110px;
        padding-top: 7px;
        padding-left: 10px;
        padding-right: 10px;
        
        &:hover .delete {
          display:block
        }
        
        .delete {
          position: absolute;
          background: white;
          padding: 5px 8px;
          right: 0px;
          display:none;
          top: 0px;
        }
        
        .Empty {
          
          
          .AddWidget {
            text-align:center; 
            padding: 10px 0px;
            border: 2px dashed #3366cc;
            margin-bottom:10px;  
          }
          
        }
        
      }
      
      
      
      
      .AddColumn {
        color: #107500;
        border: 2px dashed #107500;
        text-align:center;
        @include border-radius(5px);
        margin: 5px;
        clear: both;
        padding: 5px;
        padding-top: 10px;
      }
      
    
     
    
    }
    

    
    
    .ResizeColumnLine {
      background: #f7f7f7;
      min-height: 25px;
      position: absolute;
      z-index: 999;
      left: 0px;
      right: 0px;
      display:none;
    }

    
    
  }
}

.SubmitEvent {
  
}

.ui-state-highlight {
  min-height:110px;
  margin-bottom:30px;
}

.ContentRowInside {
  clear:both; width:100%
}

.widgetMenu {
  
  
  .WidgetsList {
    
  }
  
  .item {
    border: 1px dashed #bb7301;
    text-align: center;
    padding: 5px 0px;
    color: #bb7301;
    font-weight:bold;
    margin-bottom:10px;
    width: 100%;
    background:white;
  }
  
}

.Popup {
  
  .FormContent {
    
    .photoAlbumContent {
          max-height: 360px;
    overflow-y: auto;
    }
    
  }
  


  .AlbumSingle.Selected {
    border: 4px solid #89c3ff;
    
    .Thumb {
      background-size:cover !important;
      height: 100px;
    }
    
    .albumText {
      margin:5px 0px;
      word-wrap: break-word;
    }
    
  }
  
  
  

  
      
  .photoSingleSelect.Selected {
    background:#89c3ff;
    @include border-radius(2px);
  }
  
}

.AlbumSingle {
  width: 100%;
  border: 4px solid #ffffff;
    
    .Thumb {
      background-size:cover !important;
      height: 100px;
    }
    
    .albumText {
      margin:5px 0px;
      word-wrap: break-word;
    }
    
    
    .emptyThumb {
      width:100%;
      text-align:center;
      background: #f7f7f7;
      
      img {
        width: 50px;
        padding: 30px 0px;
      }
      
    }
    
    
  }

  .photoSingleSelect {
    width: 100%;
    padding: 3px;
    
    .thumbNailContent {
      background-size: cover !important;
      width: 100%;
      height: 125px;
    }
    
    &:nth-child(5n+5) {  
      margin-right: 0px;
    }  
  }

.newsLetterLink {
  border:1px solid #e9e9e9;
  text-align: center;
  padding: 10px;
  
  .name {
    margin-top: 5px;
  }
  
}

.EventType {
  width: 13px;
  height: 13px;
  float: left;
  margin-top: 4px;
  margin-right: 5px;
  @include border-radius(10px);    
}

.SuperEvent {
  background:#e26d06
}
.SubEvent {
  background:blue;
}

.StandAlone {
  background:brown;
}

.SuperEventItem {
  background:#e6e6e6;
  margin-right:15px;
  padding:10px 10px 10px 30px;
  @include border-radius(20px);
  color: #5d5d5d;
  position:relative;
  cursor:pointer;
  margin-top:15px;
  
  .dot {
    height:10px;
    width:10px;
    background: #5d5d5d;
    @include border-radius(15px);
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 14px;
  }
}

.fixedPositionWidets {
  position: fixed;
  right: 0px;
  left: 76%;
  margin-right: 25px;
  margin-left: 23px;
  top: 70px;
}

#EventEditHistory {
  .FormContent {
    overflow-y: auto;
    max-height: 310px;
  }
}
