@import "variables";
@import "mixins";

.loginFormWrapper {
  width:380px;
  margin:40px auto 0 auto;
  
  .logo {
    text-align:center; margin-bottom:10px;
  }
  
  .header {
    font-size:20px; text-align:center;
  }
  
  .submitButton {
    input {
      width:100%
    }
  }
  
  
  
}
