.divider {
  border-bottom: 1px solid #f7f7f7;
  padding: 3px 0px 0px 0px;
  margin-bottom: 3px; }

.needsSpecsIndicator {
  background: #c30000;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

.isActiveIndicator {
  background: #00c321;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

.SaveInventory {
  position: fixed;
  bottom: 0px;
  background: white;
  left: 0px;
  box-shadow: 0px -2px 8px #d4d4d4;
  -webkit-box-shadow: 0px -2px 8px #d4d4d4;
  -moz-box-shadow: 0px -2px 8px #d4d4d4;
  padding: 15px;
  z-index: 9;
  right: 0px; }

.NewBackupIndicator {
  background: #00c321;
  width: 10px;
  height: 10px;
  float: left;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: absolute;
  right: 5px;
  top: 5px; }

.btnContainer {
  float: left;
  width: 20px; }

.specContentRow {
  margin-left: 35px; }

.deleteSpecBtn {
  font-size: 20px;
  margin-top: 25px; }

.AddSpec {
  border: 1px dashed #18ad00;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  color: #18ad00; }

.SpecGroupHeader {
  font-size: 20px;
  font-weight: bold;
  color: #c9c9c9; }

.inventorySingleCard {
  background: white;
  box-shadow: 0px 1px 2px #c7c7c7;
  -webkit-box-shadow: 0px 1px 2px #c7c7c7;
  -moz-box-shadow: 0px 1px 2px #c7c7c7;
  border: 1px solid #d6d6d6;
  margin-bottom: 13px;
  color: black;
  border-radius: 7px;
  overflow: hidden;
  position: relative; }
  .inventorySingleCard:hover {
    box-shadow: 0px 0px 5px #3366cc;
    -webkit-box-shadow: 0px 0px 5px #3366cc;
    -moz-box-shadow: 0px 0px 5px #3366cc; }
  .inventorySingleCard .inventoryHeader {
    font-size: 16px;
    border-bottom: 1px solid #ececec;
    padding: 10px; }
    .inventorySingleCard .inventoryHeader .MSRP {
      font-weight: bold;
      color: #158a1d;
      float: left; }
    .inventorySingleCard .inventoryHeader .Stock {
      float: right; }
  .inventorySingleCard .BikeInfo {
    margin: 10px 0px; }
  .inventorySingleCard .NoInventoryPhoto {
    background: #ffffff;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-right: 1px solid #ececec; }
    .inventorySingleCard .NoInventoryPhoto img {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -29px;
      margin-top: -19px; }
  .inventorySingleCard .BikeInfoElement {
    margin-left: 33.33333333%; }

.AddPhotoContainer {
  padding: 10px; }
  .AddPhotoContainer .AddPhotosHeader {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; }

.greenOutlineButton {
  color: #18ad00;
  border: 1px solid #18ad00;
  float: left;
  background: white;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 6px 15px;
  font-size: 12px;
  font-weight: bold; }
  .greenOutlineButton:hover {
    background: #efefef; }

.UploadPhotoButton {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px -2px 8px #d4d4d4;
  -webkit-box-shadow: 0px -2px 8px #d4d4d4;
  -moz-box-shadow: 0px -2px 8px #d4d4d4;
  background: white; }

.inventoryPhotoSingleElement {
  width: 228px;
  height: 228px;
  background-size: cover !important; }

.photoOptions {
  font-size: 20px;
  padding: 5px 0px;
  text-align: center;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  margin-bottom: 10px; }
  .photoOptions i {
    margin: 0px 15px; }

.photoContainer {
  background: #f9f9f9;
  padding: 3px 0px;
  text-align: center;
  margin-bottom: 10px; }
  .photoContainer img {
    max-width: 560px; }

.InventoryPaginationObject {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #f6f7fb;
  -moz-box-shadow: 0 0 10px 12px #f6f7fb;
  -webkit-box-shadow: 0 0 10px 12px #f6f7fb;
  box-shadow: 0 0 10px 12px #f6f7fb;
  z-index: 9; }
  .InventoryPaginationObject .paginationObject {
    background: white;
    display: table;
    margin: 10px auto 20px auto;
    float: none; }

.InventoryPhotoUploaded {
  background-size: cover !important;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px; }

.soldOverlay {
  background: rgba(255, 0, 0, 0.27);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1; }
  .soldOverlay .TextSold {
    color: white;
    font-weight: bold;
    font-size: 24px;
    top: 50%;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -7px; }

.needFilling {
  border: 1px solid #c30000;
  padding: 10px; }

.dropDownStores {
  padding: 7px 5px;
  float: left; }
  .dropDownStores .arrow {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #cacaca; }

.StoreDropDownElement {
  float: left;
  width: 320px;
  margin-top: -1px;
  margin-left: 6px; }
  .StoreDropDownElement .dropdownLink {
    color: #337ab7 !important;
    font-weight: bold; }
  .StoreDropDownElement .elementLine {
    padding: 5px 10px;
    border: 1px solid #cccccc;
    font-size: 12px;
    color: black;
    margin-right: 10px;
    float: left; }
    .StoreDropDownElement .elementLine:hover {
      background: #f7f7f7; }
  .StoreDropDownElement .Selected {
    border-bottom: 3px solid #3366cc;
    float: left;
    padding: 6px 10px 2px 10px;
    margin-right: 10px;
    font-size: 12px;
    color: black;
    border-left: 1px solid white;
    border-right: 1px solid white; }

.filterRadioButton {
  float: left;
  margin-right: 10px; }
  .filterRadioButton input[type="radio"] {
    display: none; }
  .filterRadioButton input[type="radio"] + label {
    font-weight: normal;
    padding: 7px 14px;
    border-radius: 25px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #ececec; }
  .filterRadioButton input[type="radio"]:checked + label {
    background: #dedede;
    font-weight: normal;
    padding: 7px 14px;
    border-radius: 25px;
    font-size: 12px; }

button.filterSubmitButton {
  padding: 5px 10px;
  border: 1px solid #cccccc;
  background: white;
  margin-left: 10px; }
  button.filterSubmitButton:hover {
    background: #f7f7f7; }

input#VerifiedVehicleSpecs {
  display: none; }

input#VerifiedVehicleSpecs + label {
  border: 1px solid #c9c9c9;
  height: 25px;
  width: 25px;
  margin-bottom: 0px;
  display: block;
  border-radius: 3px;
  position: relative; }
  input#VerifiedVehicleSpecs + label:after {
    content: '';
    width: 14px;
    height: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
    margin-left: -7px;
    margin-top: -6.5px; }
  input#VerifiedVehicleSpecs + label:hover::after {
    opacity: 0.5; }

input#VerifiedVehicleSpecs:checked + label:after {
  opacity: 1; }

.vehiclebackupColumn {
  padding: 8px; }

.verifiedSingle {
  position: relative;
  margin-top: 9px; }
  .verifiedSingle:after {
    content: '';
    width: 10px;
    height: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    transform: rotate(-45deg);
    margin-left: -5px;
    margin-top: -3.5px; }

.vinNumberContent {
  margin: 5px 20px 5px 105px;
  font-size: 12px;
  font-weight: bold; }

.radioInput input {
  float: left;
  margin: 4px 4px 0px 0px !important; }

#BackupHistoryPopup .FormContent {
  overflow-y: auto;
  max-height: 300px; }

/*# sourceMappingURL=InventoryController.css.map */
