@import "variables";
@import "mixins";



.DirectoryLine {
  border-bottom:1px solid #dfdfdf;
  padding:10px 0px;
  
  &:hover {
    background: #f9f9f9;
  }
  
  .icon {
    float:left;
    margin-left: 10px;  
  }
  
  .text {
    font-size:20px;
    margin-left: 50px;
    color:black;
  }
}


.GrayBox {
  background: #f9f9f9;
  text-align:center;
  padding:10px 0px;
  font-size: 20px;
  margin-bottom: 30px;
  
  .icon {
    margin-bottom:10px;
    text-align:center;
  }
  
  .thumbnailContainer {
    position:absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    background-size: cover !important;
    
   
  } 
  
  &:hover .photoOverlay {
    display:block      
  }
}

.photoContainer {
  background: #f9f9f9;
  padding:3px 0px; 
  text-align:center;
  margin-bottom:10px;
  
  img {
    max-width: 560px;
  }
}

.uploadedInfo {
  background: #f7f7f7;
  margin: 0px -10px 10px -10px;
  padding: 10px;
}

.photoOverlay {
  position:absolute;
  left:5px;
  right:5px;
  bottom:5px;
  background: rgba(0, 0, 0, 0.5);
  display:none;
  z-index:1;
  padding: 10px 0px;
  
  .view {
    float:left;
    width:50%; 
    color:white;
    
    i {
      display: block;
    }
  }
  
  .delete {
    float:left;
    width:50%; 
    color:white;
    
    i {
      display: block;
    }
  }
}


.buttonContainer {
  margin-bottom:15px;
}

.AddFolder {
  margin:0px 0px 10px 0px;
}

.visibilitySwitch {
  .switch {
    position: relative;
    display: block !important;
    width: 42px;
    height: 16px;
    margin: 0 auto !important;
    
    input {
      display: none;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      
      &:before {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
    }
    
    .slider.round {
        border-radius: 34px;
        
        &:before {
            border-radius: 50%;
        }
        
    }
    
    
    
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  
}


.UploadPhotosSubmit {
  position: fixed;
  bottom: 0px;
  background: white;
  left: 0px;
  @include box-shadow(0px -2px 8px #d4d4d4);
  display:none;
  padding: 15px;
  z-index: 9;
    
  #uploadingPhotosText {
    display:none;
  }
}

.SubmitEvent {
  
}



.Overlay {
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  z-index: 9;
}
.Popup {
  background: white;
  position: fixed;
  z-index: 99;
  width: 560px;
  left: 50%;
  margin-left: -280px;  
  top: 180px;
  @include border-radius(5px);
  
  .formHeader {
    padding:10px; font-size:20px;
    border-bottom:1px solid #cecece
  }
  
  .FormContent {
    padding:15px 0px 10px 15px;  
    
    .photoAlbumContent {
      min-height:300px;
      overflow-y: auto;
    }
    
  }
  
  .photoSingleSelect {
    float: left;
    padding: 3px;
    
    &:nth-child(5n+5) {  
      margin-right: 0px;
    }  
  }

  .AlbumSingle.Selected {
    border-top: 4px solid #89c3ff;
  }
  
  .AlbumSingle {
    float:left;
    width:25%;
    border-top: 4px solid #ffffff;
  }
  

  
      
  .photoSingleSelect.Selected {
    background:#89c3ff;
    @include border-radius(2px);
  }
  
}



#PhotoAlbumDetails {
  display:none;
}


.photoThumbNail {
  width:100%;
  height:250px;
  background-size:cover !important;
  border: 5px solid white;
  box-shadow: 0px 2px 1px #dedede;
  position:relative;

  .deleteAlbum {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 16px;
    color:#c30000
  }    
    
}

input[type=submit][disabled] {
  @include opacity(.5)
}

.PhotoElementBtn {
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
  margin-bottom: 30px;
  
  .icon {
    margin-bottom:20px;  
  }
  
  
  
  &:hover {
    background: #f9f9f9;  
  }
}

.albumName {
  text-align:center;
}

#PhotosInAlbum {
  
  .FormContent {
    width: 560px;
    max-height: 430px;
    overflow: auto;    
    
    .PhotoThumbNail {
      width: 120px;
      height: 120px;
      float: left;
      margin-right: 5px;
      margin-bottom: 10px;
      margin-left: 5px;
    }
    
  }


}

.PhotoAlbumElementEmpty, .photoThumbNail {
  position:relative;
  
  .deleteAlbum {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 16px;
    color:#c30000
  }
  
}

