@import "variables";
@import "mixins";


.socialMediaContent {
  
}
.PostCount {
  margin-top:20px;
}


.viewPostsButton {
  font-size:24px;
  text-align:center;
  border:1px solid #3030bb;
  color:#3030bb;
  padding: 10px;
  border-radius: 35px;
  
  &:hover {
    background:#3030bb;
    color:white;
  }
}


table {
  .icon {
    width:10px;
    height:10px;
    border-radius: 5px;
    margin-right:5px;
  }
  
  .facebookIndicator {
    background: #395a97
  }
  
  .twitterIndicator {
    background: #60caef;
  }
  
}

.Approved {
  border:1px solid #18ad00;
  padding:10px;
  color:#18ad00;
  margin-bottom:10px;
  text-align:center;
}
.Declined {
  border:1px solid #c30000;
  padding:10px;
  color:#c30000;
  margin-bottom:10px;
  text-align:center;
}

.IsPosted {
  border:1px solid #898cf5;
  padding:10px;
  color:#898cf5;
  margin-bottom:10px;
  text-align:center;
}

.isApprovedIndicator {
  background:#18ad00;
  padding:5px 0px;
  text-align:center;
  font-size:12px;
  color:white;
}

.DeclinedIndicator {
  background:#c30000;
  padding:5px 0px;
  text-align:center;
  font-size:12px;
  color:white;
}

.isUrgent {
  box-shadow: 0px 0px 4px #c30000 !important;
  -webkit-box-shadow: 0px 0px 4px #c30000 !important;
  -moz-box-shadow: 0px 0px 4px #c30000 !important;
}

.approvedPost {
  box-shadow: 0px 0px 2px #22ad2c !important;
  -moz-box-shadow: 0px 0px 2px #22ad2c !important;
  -webkit-box-shadow: 0px 0px 2px #22ad2c !important;
}

.declinedPost {
  box-shadow: 0px 0px 2px #fb4141 !important;
  -moz-box-shadow: 0px 0px 2px #fb4141 !important;
  -webkit-box-shadow: 0px 0px 2px #fb4141 !important;
}

.postSingleElement {
  box-shadow: 0px 0px 2px #c5baba;
  -webkit-box-shadow: 0px 0px 2px #c5baba;
  -moz-box-shadow: 0px 0px 2px #c5baba;
  color:black;
  margin-bottom: 20px;
  
  &:hover {
    box-shadow: 0px 0px 4px #3366cc !important;
    -webkit-box-shadow: 0px 0px 4px #3366cc !important;
    -moz-box-shadow: 0px 0px 4px #3366cc !important;
    
  }
  
  .SubmittedByContent {
    
    .profileImage {
      width: 30px;
      height: 30px;
      background-size: cover !important;
      border-radius: 50px;
      border: 1px solid #cecece;
      margin-bottom: 5px;
    }
  }
  
  .storeName {
  }
  
  
  
  .socialMediaIcon {
    text-align:center;
    padding: 10px 0px;

    
  }
}

    
.UrgentIndicator {
      background:#c30000;
      padding:5px 0px;
      text-align:center;
      font-size:12px;
      color:white;      
}

.progressBar {
  width: 300px;
  height: 10px;
  background: #d6d6d6;
  overflow: hidden;
  margin-top:10px;
  
  
  
  .progressContent {
    height: 30px;
    width:0px;
    background: #3030bb;
     -webkit-transition: all .5 ease; /* Safari */
    transition: all .5 ease;
    
    
  }
  
}

