@import "variables";
@import "mixins";

* {margin:0; padding:0;}

body.BlueBackground {
  background: #f6f7fb !important;
}



button.filterSubmitButton {
  padding: 5px 10px;
  border: 1px solid #cccccc;
  background:white;
  margin-left: 10px;
    
  &:hover {
    background: #f7f7f7;
  }
}

header {
  border-bottom:1px solid #d4d4d4;
  position: fixed;
  width: 100%;
  z-index: 9;
  background: white;



  .SettingsDropDown {
    border: 1px solid #cecece;
    border-radius: 50px;
    padding: 4px 12px 4px 9px;
  }
  
  .AdminTitleText {
    font-size:20px;
    padding:12px 15px 12px 15px;
    float:left;
  }
  
  .RightMenu {
    float:right;
    padding-right:15px;
    
    ul {      
      float: right;
      margin-bottom: 0px;
      
      li {
        float: left;
        list-style-type: none;
        padding: 8px 0px 8px 15px;
        
        img {
          height: 25px;
        }
        
        
        .profilePic {
          width:30px; 
          height:30px;
          background-size: cover !important;
          border-radius: 50px;
          border: 1px solid #cecece;
          margin-top: -2px;
          float:left;
          margin-right: 6px;
        }
        
        .dropdown-menu {
          top: 32px;
          background: #333;
          padding: 0px;
          border: none;
          
          .dropDownElement {
            border-bottom:1px solid white;
            padding: 10px;
            color:white;
          }
          
        }
        
      }
    }
    
  }
  

  
}

.SecondaryLinks {
  background: #293541;
  position: fixed;
  top: 0px;
  z-index: 99;
  bottom: 0px;
    
  .link {
    padding: 10px;
    clear: both;
    
    &:hover {
          background: #000000;
    }
    
    img {
      float:left;
    }
    
    .labelLink {
      color: white;
      margin-left: 10px;
      font-size: 14px;
      margin-top: 3px;
      float: left;
      margin-right: 10px;
    }
    img {
      width:25px;  
    }
    
    
  }

}

.push {
  height:70px;
}

.sectionHeader {
  font-size:24px;
  margin-bottom:20px;
  color: #ffa414;
}

.breadCrumbs {
  
  span {
   margin:0 5px; 
  }
}


.breadCrumbs {
  margin-bottom:20px;
}

.button {
  font-size:12px;
  font-weight:bold;
  color:white;
  padding: 6px 15px;
  border:none;
  @include border-radius(25px);
}

.greenButton {
  background:#18ad00;  
  @extend .button;  
  
  &:hover {
    background: #107500;
  }
}

.greenButtonRectangle {
  background:#18ad00;  
  font-size:12px;
  font-weight:bold;
  color:white;
  padding: 7px 20px;
  border:none;
  @include border-radius(5px);
  
  
  &:hover {
    background: #107500;
  }
}

.whiteButton {
  color:black;
  border:1px solid #cecece;
  float:left;
  background: white;
  
  @extend .button; 
  
  &:hover {
    background: #efefef;
  }
}



.blueButton {
  background:#005dad; 
  @extend .button;  
  
  &:hover {
    background: #00396b;
  }
  
}

.previewButton {
  @extend .button;  
  border:1px solid #cecece;
  color:black;
  
  .arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #808080;
    float: right;
    margin-top: 4px;
    margin-left: 10px;
  }
}

#ErrorResponses {
  color:#c30000;
}

input[type='time'], input[type='text'], input[type='password'], input[type='date'], select, textarea {
  border: 1px solid #e0e0e0;
  padding: 5px;
  width:100%;
}

.input {
  margin-bottom:15px;
  
  .inputLabel {
    margin-bottom:5px;
  }
  
}

.flashMesssages {
  position:relative;
  display:none;
  margin-bottom:10px;
  
  .loadingIndicator {
    background:white;
    position:absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
  }
  
  .messagesText.error {
    color:#c30000
  }
  
  .messagesText.success {
    color:#1ba221
  }
  
  
}

.subHeader {
      font-size: 20px;
    margin-bottom: 10px;
    color: #c9c9c9;
}

.subSectionHeader {
  font-size: 16px;
  font-weight:bold;
  margin: 15px 0px;
}

.contentSections {
  border-top: 1px solid #dedede; padding-top: 10px;
    margin-top: 10px;
}

.errorMessage {
  color:#c30000
}

.GrayBox {
  background: #f9f9f9;
  text-align:center;
  padding:10px 0px;
  font-size: 20px;
  margin-bottom: 30px;
  
  .icon {
    margin-bottom:10px;
    text-align:center;
  }
  
  .thumbnailContainer {
    position:absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    background-size: cover !important;
    
   
  } 
  
  &:hover .photoOverlay {
    display:block      
  }
}

.redButton {
  background: #9c0000;
  @extend .button;
  
  &:hover {
    background: #ca0000;
  }
  
}

.buttonContainer {
  margin-bottom:15px; 
}

.noButton {
  &:hover {
    background:white !important
  }
}

.ExpandableText {
  font-size:20px;
  color: #36c;
  
  .ExpandLink {
    float: left;
    width: 30px;
    text-align: center;
    color: #36c;
  }
}


.Overlay {
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  z-index: 9;
}

.Popup {
  background: white;
  position: fixed;
  z-index: 99;
  width: 560px;
  left: 50%;
  margin-left: -280px;  
  top: 180px;
  @include border-radius(5px);
  
  .formHeader {
    padding:10px; font-size:20px;
    border-bottom:1px solid #cecece
  }
  
  .FormContent {
    padding:15px 0px 15px 15px;  
  }
  
  
}

.DirectoryLine {
  border-bottom:1px solid #dfdfdf;
  padding:10px 0px;
  
  &:hover {
    background: #f9f9f9;
  }
  
  .icon {
    float:left;
    margin-left: 10px;  
  }
  
  .text {
    font-size:20px;
    margin-left: 50px;
    color:black;
  }
}



.PhotoAlbumElementEmpty {
    background: #f7f7f7;
    position: relative;
    border: 5px solid white;
    box-shadow: 0px 2px 1px #dedede;
    height: 250px;
    margin-bottom: 20px;
    
    .indicator {
      text-align: center;
      padding: 86px 10px;
    }
}

.ContentPage {
  margin: 0px 10px 0px 155px;
}

.paginationObject {
  border: 1px solid #cecece;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  margin-top: 20px;
  float:left;
  overflow:hidden;
  
  .pagination-right, .pagination-left, .pagination-number {
    float:left;
    padding: 7px 11px;
    
    
    &:hover {
      background: #e9f5ff;
    color: #3366cc;
      
    }
  }
  
  .linkInactive {
    background: #ececec;
    color: #7b7b7b;
    
    &:hover {
      background: #ececec;
      color: #7b7b7b;
    }
  }
  
  .pagination-number-selected {
    background: #ececec;
    color: #7b7b7b;
    
    &:hover {
      background: #ececec;
      color: #7b7b7b;
    }
  }
  
  
  .pagination-left, .pagination-number {
     border-right:1px solid #cecece;
  }
}

.FeedBackItem {
  margin-bottom:10px;
  
  .bubble {
    background:#f3f3f3;
    padding:10px;
    position:relative;
    
    .caret {
      width: 0; 
      height: 0; 
      border-top: 0px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #f3f3f3;
      position: absolute;
      bottom: -15px;
      left: 10px;
    }
  }
  
  .detailsBy {
    font-size:12px;
        margin-top: 20px;
  }
  
}

.WhiteSectionDiv {
  background:white;
  box-shadow: 0px 1px 2px #b3b3b3;
  -webkit-box-shadow: 0px 1px 2px #b3b3b3;
  -moz-box-shadow: 0px 1px 2px #b3b3b3;
  margin-bottom:20px;
  
  .content {
    padding:10px;
  }
  
}


.topSectionPage {
  background:white;
  margin-bottom: 20px;
  box-shadow: 0px 0px 3px #3e3e3e;
  -webkit-box-shadow: 0px 0px 3px #3e3e3e;
  -moz-box-shadow: 0px 0px 3px #3e3e3e;
  margin-top: -20px;
  padding-top: 20px;
}

.AddItem {
    border: 1px solid #c3e6be;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    color: #18ad00;
}

.descriptiveInfo {
  background: #f7f7f7;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 11px;
}

.emptyPhotoPlacement {
  border: 2px solid #ffc5c5;
  text-align: center;
  padding: 70px;
  margin-bottom: 20px;
  background: #f7f7f7;
  position:relative;
  
  img {
    opacity: .4;
  }
  
  .required {
    position: absolute;
    color: #c30000;
    width: 100%;
    text-align: center;
    left: 0px;
    top: 50%;
    margin-top: -10px;
    font-weight: bold;
    font-size: 16px;
  }
  
}

.textareaMinHeight {
  min-height:300px
}

.redUploadButton {
  background:red;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  
  &:hover {
    background: #b10000;
  }
}

.greyUploadButton {
    background:#e2e2e2;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #777;
  font-weight: bold;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  
  &:hover {
    background: #d4d4d4;
  }
}

#SavedPhotoResponse, .SavedPhotoResponse {
  border: 1px solid #18ad00;
  color: #18ad00;
  text-align: center;
  padding: 10px;
  margin-bottom:10px;
}

#ToastMessage {
    position: fixed;
    text-align: center;
    display:none;
    box-shadow: 0px 0px 7px #c3c3c3;
    -webkit-box-shadow: 0px 0px 7px #c3c3c3;
    -moz-box-shadow: 0px 0px 7px #c3c3c3;
}
#ToastMessage.error {
  border: 1px solid #ffc6c6;
  padding: 10px 20px;
  background: #ffdada;
  border-radius: 45px;
  color: #c30000;
  width: 440px;
  font-weight: bold;
  top: 150px;
    left: 50%;
    
    margin-left: -220px;
}

#ToastMessage.success {
  border: 1px solid #1bc33f;
  padding: 10px 20px;
  background: #9af7ae;
  border-radius: 45px;
  color: #0a7120;
  font-weight: bold;
  width: 440px;
  top: 150px;
  left: 50%;    
  margin-left: -220px;
}

#ToastMessage.LoadingSpinner {
  padding: 10px;
  border-radius: 35px;
  margin-top:-21px;
  marign-left:-21px;
  top:50%;
  left:50%;
  background:white;
  width:auto;
}

.inputRadioElement {
 
  input {
    float:left; 
    margin:4px 5px 0px 0px !important;
  }
  
}

.inputCheckboxElement {
  input {
    float:left;
    margin:4px 5px 0px 0px !important;
  }
  
  .permissionLabel {
      margin-left: 18px;
  }
  
}

.subPermissions {
  margin-left:20px;
}



