@import "variables";
@import "mixins";

.ProfilePicContent {
  background: #f9f9f9;
  text-align: center;
  padding: 20px 0px;
  font-size: 20px;
  margin-bottom: 10px;
  
  .fileInput {
    font-size: 14px;
    position: absolute;
    right: 25px;
    bottom: 22px;
  }
  
  .pic {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background-size: cover !important;
    border-radius: 110px;
  }
}

.permissionSection {
  margin-bottom:10px; 
  
  .permissionSectionHeader {
    margin-bottom:10px; 
    font-weight:bold;
  }  
}

.UserSingleLine {
  margin-bottom:10px;
  
  .circle {
    border:1px solid #cecece; 
    float:left;
    border-radius: 50px;
    padding: 5px 10px 5px 6px;
    
    .text {
      float:left;
      margin-left: 8px;
      margin-top: 4px;
    }
    
    .delete {
      float: right;
      margin-top: 4px;
      margin-left: 10px;
    }
    .view {
      float: right;
      margin-top: 4px;
      margin-left: 20px;
    }
    
  }
  
  .profilePicObject {
    width: 30px;
    height: 30px;
    background-size: cover !important;
    border-radius: 50px;
    
    
    float: left;
  }  
}



