<div class="loginForm" style="width: 650px;">
	<div class="logo">
			<a href="#/"><img src="public/images/Sid-Dillon-Intranet.png" /></a>	
		</div>
		<div class="header">
			Sid Dillon Intranet Login
		</div>
		<div class="pageMessage" ng-show="showMessage">
			<div class='loadingSpinner' ng-show="loadingFinal">
				<img src="public/images/ajax-loader.gif" />
			</div>
			<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert '>
				<div ng-bind-html="errorMessage"></div>
			</div>
		</div>
		<form serializer="requestAccessSubmit(data)">
			<div class="input" style="border-top:1px solid #ececec; padding-top:10px; border-bottom:1px solid #ececec; padding-bottom:10px;">
				Fill in the information below to request Intranet access
			</div>
			
			<div class="container" style="padding: 0px; width: 650px;">
				<div class="row">
					<div class="col-md-6">
						<div class='input'>
							<div class='inputLabel'>First Name</div>
							<input type="text" ng-model="RequestAccess.userFirstName" name="userFirstName" />
						</div>
					</div>
					<div class="col-md-6">
						<div class='input'>
							<div class='inputLabel'>Last Name</div>
							<input type="text" ng-model="RequestAccess.userLastName" name="userLastName" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class='input'>
							<div class='inputLabel'>Email</div>
							<input type="text" ng-model="RequestAccess.userEmail" name="userEmail"  />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class='input'>
							<div class='inputLabel'>Job Title</div>
							<select name="JobTitle"  ng-model="RequestAccess.JobTitle">
								<option value='0' selected="selected">Please Select</option>
								<option value='1'>{{ '1' | JobTitles }}</option>
								<option value='2'>{{ '2' | JobTitles }}</option>
								<option value='3'>{{ '3' | JobTitles }}</option>
								<option value='4'>{{ '4' | JobTitles }}</option>
								<option value='5'>{{ '5' | JobTitles }}</option>
								<option value='6'>{{ '6' | JobTitles }}</option>
								<option value='7'>{{ '7' | JobTitles }}</option>
								<option value='8'>{{ '8' | JobTitles }}</option>
								<option value='9'>{{ '9' | JobTitles }}</option>
								<option value='10'>{{ '10' | JobTitles }}</option>
								<option value='11'>{{ '11' | JobTitles }}</option>
								<option value='12'>{{ '12' | JobTitles }}</option>
								<option value='13'>{{ '13' | JobTitles }}</option>
								<option value='14'>{{ '14' | JobTitles }}</option>
								<option value='15'>{{ '15' | JobTitles }}</option>
								<option value='16'>{{ '16' | JobTitles }}</option>
								<option value='17'>{{ '17' | JobTitles }}</option>
								<option value='18'>{{ '18' | JobTitles }}</option>
								<option value='19'>{{ '19' | JobTitles }}</option>
							</select>
						</div>
						
					</div>
					<div class="col-md-6">
						<div class='input'>
							<div class='inputLabel'>Store</div>
							<select name="userStore" ng-model="RequestAccess.userStore">
								<option value='0' selected="selected">Please Select</option>
								<option ng-repeat='x in storesList' value='{{x.id}}' ng-selected="{{x.id == currentStore}}">{{x.name}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			

			<div class='input'>
				<input type="submit" value="Request Access" class="blueButton" style='width:100%' />
			</div>
			<div class='input' style="text-align:center">
				<a href="#/">Back to Login</a>
			</div>
		</form>
</div>
