.BrandSingleElement {
  margin-bottom: 10px;
  height: 160px; }
  .BrandSingleElement .brandImage {
    text-align: center; }
    .BrandSingleElement .brandImage img {
      max-width: 120px; }
  .BrandSingleElement .bradType {
    text-align: center;
    font-weight: bold;
    font-size: 14px; }

/*# sourceMappingURL=BrandsController.css.map */
