#BlogPostCommentContent .commentElementWrapper {
  margin-bottom: 20px; }
#BlogPostCommentContent .commentHeader {
  font-weight: bold;
  font-size: 20px;
  float: left;
  margin-top: 2px; }
#BlogPostCommentContent .commentElement {
  background: #f5f5f5;
  padding: 10px;
  position: relative; }
  #BlogPostCommentContent .commentElement .caret {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    border-top: 20px solid #f5f5f5;
    right: 10px;
    margin-top: 6px; }
  #BlogPostCommentContent .commentElement .time {
    font-weight: bold;
    margin-top: 5px; }
#BlogPostCommentContent .viewCommentLink {
  text-align: center;
  border: 1px solid #dcdcdc;
  border-radius: 19px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px; }
#BlogPostCommentContent .commentedBy {
  text-align: right;
  margin-top: 18px; }
  #BlogPostCommentContent .commentedBy i {
    font-size: 16px; }

#ShoppingReviewsContent .viewReviewLink {
  text-align: center;
  border: 1px solid #dcdcdc;
  border-radius: 19px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px; }

.CurrentWeek {
  padding: 10px; }

.StoreName {
  margin-bottom: 5px; }

.progressBar {
  width: 300px;
  height: 10px;
  background: #d6d6d6;
  overflow: hidden;
  margin-top: 10px; }
  .progressBar .progressContent {
    height: 30px;
    width: 0px;
    background: #3030bb;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: all .5 ease;
    /* Safari */
    transition: all .5 ease; }

.inventoryNeededList {
  height: 350px;
  overflow: hidden;
  overflow-y: auto;
  padding-right: 15px; }

.inventoryLine {
  border-top: 1px solid #e0e0e0;
  padding: 5px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: -1px; }

.motorsportIndicator {
  background: #c30000;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  float: left;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

.harleyIndicator {
  background: #ff6c00;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  border-radius: 5px;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

.indianIndicator {
  background: #850029;
  width: 10px;
  height: 10px;
  float: left;
  margin-top: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

.vehicleNameList {
  margin-left: 15px; }

.storeChip {
  float: left;
  padding: 5px 10px;
  margin-right: 5px;
  color: white;
  border-radius: 15px;
  font-size: 12px; }

/*# sourceMappingURL=DashboardController.css.map */
