.loginFormWrapper{width:380px;margin:40px auto 0 auto}.loginFormWrapper .logo{text-align:center;margin-bottom:10px}.loginFormWrapper .header{font-size:20px;text-align:center}.loginFormWrapper .submitButton input{width:100%}
