body{
	background-color: white;
}


.center{
	text-align:left;
	margin-left: auto;
	margin-right: auto;	
	width:575px;
}



#range{
	border:none;
	height:37px;

}

.slider:before{
    display: block;
    background-image: url(../images/rangeBar.png);
    background-position: 0px 10px;
    background-repeat: repeat-x;
    height: 30px;
    position: relative;
    position: absolute;
    content: "";
    clear: both;
    left: 0px;
    right: 0px;
}

#range td{
	border:none;
}

.rangeGrip{
	width:10px;
	height:19px;
	cursor:e-resize;
	background-image: url('../images/slider.png');
	z-index:8;
}


.rangeDrag .rangeGrip, .rangeGrip:hover{
	background-position:right;
}

#text{
	color:#034a92;
	float:right;

}

