.permissionSection {
  margin-bottom: 20px; }
  .permissionSection .permissionSectionHeader {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px; }

.ProfilePicContent {
  background: #f9f9f9;
  text-align: center;
  padding: 20px 0px;
  font-size: 20px;
  margin-bottom: 10px; }
  .ProfilePicContent .fileInput {
    font-size: 14px;
    position: absolute;
    right: 25px;
    bottom: 22px; }
  .ProfilePicContent .pic {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background-size: cover !important;
    border-radius: 110px; }

.UserSingleLine {
  border-bottom: 1px solid #ececec;
  padding: 5px 0px; }
  .UserSingleLine .circle {
    margin-left: 5px;
    float: left;
    border-radius: 50px;
    padding: 5px 10px 5px 6px; }
    .UserSingleLine .circle .text {
      float: left;
      margin-left: 8px;
      margin-top: 4px; }
  .UserSingleLine .delete {
    float: right;
    margin-top: 4px;
    margin-left: 10px; }
    .UserSingleLine .delete .button {
      float: left;
      background: #b31515;
      color: white;
      padding: 3px 7px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px; }
      .UserSingleLine .delete .button:hover {
        background: #800c0c; }
  .UserSingleLine .view {
    float: right;
    margin-top: 4px;
    margin-left: 20px; }
    .UserSingleLine .view .button {
      float: left;
      background: #337ab7;
      color: white;
      padding: 3px 6px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px; }
      .UserSingleLine .view .button:hover {
        background: #1c4b73; }
  .UserSingleLine .profilePicObject {
    width: 30px;
    height: 30px;
    background-size: cover !important;
    border-radius: 50px;
    float: left; }

.InventoryTabs, .StoreTabs {
  margin: -10px -10px 15px -10px;
  border-bottom: 1px solid #cecece; }
  .InventoryTabs .tab, .StoreTabs .tab {
    float: left;
    padding: 10px;
    position: relative; }
    .InventoryTabs .tab .selectedTab, .StoreTabs .tab .selectedTab {
      border-bottom: 3px solid blue;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      display: none; }
    .InventoryTabs .tab:hover, .StoreTabs .tab:hover {
      background: #efeeee; }

.emailNotificationTextBox {
  min-height: 60px; }

.AddSpec {
  border: 1px solid #c3e6be;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  color: #18ad00; }

#NewGroupPlacement, .specGroupContainer {
  margin-bottom: 10px;
  background: white; }
  #NewGroupPlacement .GroupHeaderElement, .specGroupContainer .GroupHeaderElement {
    position: relative; }
    #NewGroupPlacement .GroupHeaderElement .DragItem, .specGroupContainer .GroupHeaderElement .DragItem {
      float: left;
      background: white;
      padding: 3px 10px;
      position: relative;
      z-index: 1; }
    #NewGroupPlacement .GroupHeaderElement .text, .specGroupContainer .GroupHeaderElement .text {
      font-size: 20px;
      font-weight: bold;
      float: left;
      position: relative;
      z-index: 1;
      background: white; }
    #NewGroupPlacement .GroupHeaderElement .edit, .specGroupContainer .GroupHeaderElement .edit {
      float: left;
      padding: 3px 10px;
      background: white;
      position: relative;
      z-index: 1; }
    #NewGroupPlacement .GroupHeaderElement .delete, .specGroupContainer .GroupHeaderElement .delete {
      float: right;
      padding: 3px 0px 0px 10px;
      background: white;
      position: relative;
      z-index: 1; }
    #NewGroupPlacement .GroupHeaderElement .divider, .specGroupContainer .GroupHeaderElement .divider {
      border-bottom: 1px solid #e0e0e0;
      position: absolute;
      width: 100%;
      top: 14px; }
  #NewGroupPlacement .LabelContentList, .specGroupContainer .LabelContentList {
    margin-top: 10px;
    display: none; }
  #NewGroupPlacement .labels, .specGroupContainer .labels {
    margin-left: 30px; }
    #NewGroupPlacement .labels .labelExpand, .specGroupContainer .labels .labelExpand {
      float: left;
      width: 20px;
      text-align: center;
      color: #36c;
      font-weight: bold; }
  #NewGroupPlacement .labelLine, .specGroupContainer .labelLine {
    background: white;
    margin-top: 10px; }
    #NewGroupPlacement .labelLine .editLabel, .specGroupContainer .labelLine .editLabel {
      float: left;
      padding: 3px 7px;
      border: 1px solid #cecece;
      border-radius: 3px; }
    #NewGroupPlacement .labelLine .labelText, .specGroupContainer .labelLine .labelText {
      padding: 4px 5px;
      float: left; }
    #NewGroupPlacement .labelLine .DeleteLabel, .specGroupContainer .labelLine .DeleteLabel {
      float: left;
      margin-top: 4px;
      margin-left: 8px; }

.ui-state-highlight {
  min-height: 110px;
  margin-bottom: 30px; }

.ui-state-highlight-label {
  min-height: 30px !important;
  margin-bottom: 30px; }

.labelHighLight {
  background: #fff799;
  border: 1px solid #dec300;
  height: 60px; }

.ColorsPopup {
  padding: 10px; }
  .ColorsPopup .Header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; }
  .ColorsPopup .SaveConversionRules {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px -2px 8px #d4d4d4;
    -webkit-box-shadow: 0px -2px 8px #d4d4d4;
    -moz-box-shadow: 0px -2px 8px #d4d4d4;
    background: white; }

.ColorLineOption {
  clear: both; }

.LabelLine {
  border-bottom: 1px solid #eaeaea; }

.settingsLink {
  padding: 10px;
  border-bottom: 1px solid #ececec;
  border-left: 4px solid #bfbfbf; }
  .settingsLink:hover {
    border-left: 4px solid #3366cc; }

.settingsLink.selected {
  border-left: 4px solid #3366cc; }

.permissionErrorText {
  color: #c30000; }

.outBoundTextUpdate {
  min-height: 100px;
  min-width: 100%;
  width: 100% !important; }

/*# sourceMappingURL=SettingsController.css.map */
