.MainLinks .content {
  font-size: 16px;
  text-align: center; }

.SaveProductItem {
  position: fixed;
  bottom: 0px;
  background: white;
  left: 0px;
  right: 0px;
  box-shadow: 0px 1px 13px #b3b3b3; }

.sizeCheckbox input {
  float: left;
  margin: 4px 5px 0px 0px !important; }

.apparelProductSingleElement {
  background: white;
  box-shadow: 0px 1px 2px #c7c7c7;
  -webkit-box-shadow: 0px 1px 2px #c7c7c7;
  -moz-box-shadow: 0px 1px 2px #c7c7c7;
  border: 1px solid #d6d6d6;
  margin-bottom: 13px;
  color: black;
  border-radius: 7px; }
  .apparelProductSingleElement .headerRow {
    border-bottom: 1px solid #ececec;
    position: relative; }
    .apparelProductSingleElement .headerRow .VisibilityIndicator {
      width: 10px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      position: absolute;
      border-top-right-radius: 7px;
      -webkit-border-top-right-radius: 7px;
      -moz-border-top-right-radius: 7px; }
    .apparelProductSingleElement .headerRow .isVisible {
      background: #158a1d; }
    .apparelProductSingleElement .headerRow .isNotVisible {
      background: #c30000; }
    .apparelProductSingleElement .headerRow .delete {
      font-size: 16px;
      float: left;
      padding: 10px; }
    .apparelProductSingleElement .headerRow .productName {
      padding: 10px;
      margin-left: 25px; }
  .apparelProductSingleElement .Info {
    padding: 10px; }
    .apparelProductSingleElement .Info .MSRP {
      font-size: 16px;
      font-weight: bold;
      color: #158a1d;
      margin-bottom: 10px; }

.inventoryPhotoSingleElement {
  width: 228px;
  height: 228px;
  background-size: cover !important; }

.photoOptions {
  font-size: 20px;
  padding: 5px 0px;
  text-align: center;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  margin-bottom: 10px; }
  .photoOptions i {
    margin: 0px 15px; }

.photoContainer {
  background: #f9f9f9;
  padding: 3px 0px;
  text-align: center;
  margin-bottom: 10px; }
  .photoContainer img {
    max-width: 560px; }

#ProductHistoryPopup .FormContent {
  overflow: auto;
  max-height: 300px; }

.SummaryOrderContent .GrayBox {
  padding: 0px; }
.SummaryOrderContent .Header {
  font-size: 24px;
  margin-bottom: 10px; }
.SummaryOrderContent .col-md-6 {
  padding: 10px; }
.SummaryOrderContent .monthHeader {
  color: #6b6b6b;
  padding: 10px; }
.SummaryOrderContent .MonthlyOrderContent {
  background: white; }
.SummaryOrderContent .orderNumberHeader {
  font-size: 12px;
  text-align: left;
  color: #b4b4b4;
  font-weight: bold; }
.SummaryOrderContent .orderNumberContent {
  font-size: 24px;
  text-align: left; }
.SummaryOrderContent .MonthlyTotalSalesContent {
  padding: 10px; }
  .SummaryOrderContent .MonthlyTotalSalesContent .salesHeader {
    color: #bababa;
    font-size: 12px;
    font-weight: bold;
    text-align: left; }
  .SummaryOrderContent .MonthlyTotalSalesContent .salesNumber {
    text-align: left;
    font-size: 24px;
    font-weight: bold; }

.yearSummary td {
  vertical-align: bottom;
  padding-right: 10px; }
.yearSummary .finalNumber {
  font-size: 24px; }

.orderSingle {
  background: white;
  box-shadow: 0px 1px 2px #c7c7c7;
  -webkit-box-shadow: 0px 1px 2px #c7c7c7;
  -moz-box-shadow: 0px 1px 2px #c7c7c7;
  border: 1px solid #d6d6d6;
  margin-bottom: 13px;
  color: black;
  border-radius: 7px;
  overflow: hidden; }
  .orderSingle:hover {
    box-shadow: 0px 0px 5px #3366cc;
    -webkit-box-shadow: 0px 0px 5px #3366cc;
    -moz-box-shadow: 0px 0px 5px #3366cc; }
  .orderSingle .OrderDate {
    position: relative;
    padding: 10px; }
    .orderSingle .OrderDate .shippingStatus {
      position: absolute;
      right: 0px;
      bottom: 0px;
      top: 0px;
      width: 10px; }
    .orderSingle .OrderDate .OrderNotShipped {
      background: yellow;
      border-left: 1px solid #ffe800; }
    .orderSingle .OrderDate .OrderShipped {
      background: #158a1d; }

.orderDetailLabel {
  width: 100px; }

#ProductReviewList .productItemHeader {
  font-size: 20px; }
  #ProductReviewList .productItemHeader .productItemExpand {
    float: left;
    width: 25px;
    text-align: center; }
#ProductReviewList .productReviewList {
  display: none; }
#ProductReviewList .reviewTextBox {
  padding: 10px;
  background: #f9f9f9;
  margin-top: 10px;
  position: relative; }
  #ProductReviewList .reviewTextBox .approveDeclineButtons {
    position: absolute;
    right: 10px;
    top: 10px; }
#ProductReviewList .ratingElement {
  display: inline-block; }
  #ProductReviewList .ratingElement .starEmpty {
    color: #ddd;
    float: right;
    margin-bottom: 0px; }
    #ProductReviewList .ratingElement .starEmpty:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005"; }
  #ProductReviewList .ratingElement .starFull {
    color: #FFD700;
    float: right;
    margin-bottom: 0px; }
    #ProductReviewList .ratingElement .starFull:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005"; }
  #ProductReviewList .ratingElement .starHalfFull {
    color: #FFD700;
    float: right;
    margin-bottom: 0px; }
    #ProductReviewList .ratingElement .starHalfFull:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f089";
      position: absolute; }

.MonthlySummaryBox {
  background: #e2f3d9;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px; }

.categorySizeSelect input {
  float: left;
  margin: 4px 4px 0px 0px !important; }

/*# sourceMappingURL=ShopController.css.map */
