.ExpandLink {
  float: left;
  width: 30px;
  text-align: center;
  color: #3366cc; }

.StoreIndicatoryCirlce {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 9px auto 8px auto; }

.SpecialDetailText {
  margin: 6px 0px; }

.MotorSport {
  background: red; }

.Harley {
  background: #ff6c00; }

.Indian {
  background: #850029; }

.specialDivider {
  border-bottom: 1px solid #f1f1f1;
  clear: both; }

.specialDivderSide {
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  min-height: 32px !important; }

.selectInventoryButton {
  border: 1px solid;
  float: left;
  padding: 5px 10px;
  border-radius: 5px;
  float: left; }

.incentiveItem {
  border: 1px solid #d6d6d6;
  margin-bottom: 15px;
  padding: 10px 10px 0px 55px;
  background: #fbfbfb;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative; }
  .incentiveItem .deleteIncentive {
    position: absolute;
    top: 8px;
    left: 6px;
    font-size: 20px;
    box-shadow: 0px 0px 8px #999;
    padding: 5px 10px;
    border-radius: 20px;
    background: white; }

#SpecialFilterInventory {
  margin-top: 20px; }
  #SpecialFilterInventory .DropInventorySection {
    border: 1px solid #3366cc;
    padding: 10px;
    background: white;
    color: #3366cc;
    text-align: center; }
    #SpecialFilterInventory .DropInventorySection .inventoryList {
      padding: 10px;
      margin-top: 10px;
      min-height: 30px; }
      #SpecialFilterInventory .DropInventorySection .inventoryList .SelectInventoryLink {
        text-align: left;
        border: 1px solid;
        padding: 6px 5px; }
  #SpecialFilterInventory .inventoryItem {
    border: 1px solid #cecece;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    background: white;
    z-index: 99;
    white-space: nowrap; }
  #SpecialFilterInventory .inventoryItem.selected {
    background: #fffed2; }
  #SpecialFilterInventory .linkedInventoryItem {
    color: black;
    text-align: left; }
  #SpecialFilterInventory .filteredSection {
    padding: 10px; }
    #SpecialFilterInventory .filteredSection .filterHeader {
      font-weight: bold;
      font-size: 16px;
      position: relative;
      color: black; }
      #SpecialFilterInventory .filteredSection .filterHeader .text {
        background: #f7f7f7;
        float: left;
        padding-right: 10px;
        position: relative;
        z-index: 11; }
      #SpecialFilterInventory .filteredSection .filterHeader .arrow {
        width: 100%;
        border-top: 1px solid #000;
        position: absolute;
        top: 11px; }
  #SpecialFilterInventory .errors {
    color: #c30000; }

.linkedInventoryIncentiveHeader {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px; }

#SelectInventoryWindow {
  position: fixed;
  background: white;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  z-index: 999; }
  #SelectInventoryWindow .bikeNameElement {
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative; }
    #SelectInventoryWindow .bikeNameElement .image {
      text-align: center;
      margin-top: 40px; }
      #SelectInventoryWindow .bikeNameElement .image img {
        width: 100%; }
    #SelectInventoryWindow .bikeNameElement input[type='checkbox'] {
      position: absolute;
      top: 10px;
      left: 10px; }
    #SelectInventoryWindow .bikeNameElement .text {
      text-align: center;
      margin: 10px; }
  #SelectInventoryWindow .closeInventoryWindow {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #cecece; }

.FilterSectionContainer {
  background: #f7f7f7;
  width: 240px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: -240px;
  z-index: 9; }
  .FilterSectionContainer .buttonFlap {
    position: absolute;
    right: -66px;
    padding: 10px;
    top: 10px;
    background: #3366cc;
    font-weight: bold;
    color: white; }

.errors {
  color: #c30000; }

/*# sourceMappingURL=SpecialsController.css.map */
